AI-Powered Real Estate Client Outreach and Lead Management System.json
{
  "name": "AI-Powered Real Estate Client Outreach and Lead Management System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d20e69dc-d549-4223-afab-2994f255e1f8",
      "name": "Daily Lead Generation",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "7769976029832557",
        "additionalFields": {}
      },
      "id": "66109560-2dd8-4392-9ca5-8ba1e30c535b",
      "name": "Scrape Real Estate Leads",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        480,
        304
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "k1FzYQx7kjd6xsn7",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "29c04c7d-6c8e-40d3-8c4d-252eab70d903",
      "name": "Wait for Scraping",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        304
      ],
      "webhookId": "f3d70e6b-3ae3-4317-8fbe-220518c13a31"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "7769976029832557",
        "additionalFields": {}
      },
      "id": "9a919f54-70e1-4a6c-9134-4829becc32fc",
      "name": "Get Scraping Results",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        928,
        304
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "k1FzYQx7kjd6xsn7",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "placeUrl, title, rating, reviewCount, category, address, plusCode, website, phoneNumber, currentStatus, imgUrl, isClaimed, tuesday, wednesday, thursday, friday, saturday, sunday, monday, query, timestamp",
        "options": {}
      },
      "id": "ec505bb9-1c65-4983-af5f-6d06524ef5fa",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1152,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8046e775-ccbd-42b2-8dc6-93ffb02247aa",
      "name": "Remove Duplicate Leads",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1376,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc99c4d4-6824-41f7-a623-0d571e8495ec",
              "name": "company_name",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "5de170d8-a360-43b4-9513-ea55c2e075cb",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "fa4be890-8c7f-427e-90ef-bd55d31b20f8",
              "name": "website",
              "value": "={{ $json.website }}",
              "type": "string"
            },
            {
              "id": "b0fcde03-be2a-4450-9f48-ed8e04f7dde2",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "205b58ac-c920-4bc8-be21-c1a72d0d56a0",
              "name": "rating",
              "value": "={{ $json.rating }}",
              "type": "number"
            },
            {
              "id": "44ce82fe-ea0c-43e8-9f0b-4af7c3d5f8d4",
              "name": "reviewCount",
              "value": "={{ $json.reviewCount }}",
              "type": "number"
            },
            {
              "id": "b001021d-aa85-44f5-9e89-08ede0d96820",
              "name": "email",
              "value": "=chourasiya8919@gmail.com",
              "type": "string"
            },
            {
              "id": "76c43be1-b448-41ef-89b0-2f4f5d761cba",
              "name": "=sent Status",
              "value": "=",
              "type": "string"
            },
            {
              "id": "009afbe7-3e62-47c7-bb02-4d669aea81ad",
              "name": "Response Status",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c3e8385-da28-4bad-b0f2-414d48d54358",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company Name: {{ $json[\"Company Name\"] }}\nCity: {{ $json[\"Address\"] }}\nWebsite: {{ $json[\"Website\"] }}\nRating: {{ $json[\"Rating\"] }}\nReviews: {{ $json[\"reviewCount\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a senior outbound sales strategist for an AI automation agency.\n\nYour job is to write a highly personalized and professional outreach email to a real estate company.\n\nCompany Name: {{$json[\"Company Name\"]}}\nCity: {{$json[\"Address\"]}}\nWebsite: {{$json[\"Website\"]}}\n\nInstructions:\n\n1. Write a short, high-converting subject line (6–10 words max).\n2. Make it specific to real estate.\n3. Avoid spam words like: \"free\", \"guarantee\", \"fast money\", etc.\n4. Make it sound human, not AI-generated.\n5. Email body must be under 120 words.\n6. Start with a personalized compliment.\n7. Identify a real estate pain point:\n   - lead qualification\n   - follow-up delays\n   - admin workload\n   - missed inquiries\n8. Briefly explain how AI automation solves it.\n9. End with a soft CTA (not pushy).\n\nReturn ONLY valid JSON in this format:\n\n{\n  \"subject\": \"\",\n  \"body\": \"\"\n}"
        }
      },
      "id": "45613b2e-173f-4cd2-8a27-5948827e2a8c",
      "name": "AI Email Personalizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        640
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2228eb1f-30ad-4552-9138-3c21303698a7",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        864
      ],
      "credentials": {
        "openAiApi": {
          "id": "afFnAhQbycxp2JLh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Personalized email subject line\",\n  \"body\": \"Full personalized email body content\"\n}"
      },
      "id": "c5aefe35-9462-458e-9438-d95b889bb843",
      "name": "Email Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        848
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ddb9286c-dba9-49a6-bdea-a5e4a87dab1a",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        640
      ],
      "webhookId": "3804f45f-f2fc-46e8-81e3-6ec1deb9fada",
      "credentials": {
        "gmailOAuth2": {
          "id": "7PxPu1CtzSImPyip",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws",
          "mode": "list",
          "cachedResultName": "AI_RealEstate_Outreach_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.company_name }}",
            "Address": "={{ $json.address }}",
            "Website": "={{ $json.website }}",
            "Rating": "={{ $json.rating }}",
            "Sent Status": "={{ $json['sent Status'] }}",
            "Response Status": "={{ $json['Response Status'] }}",
            "phoneNumber": "={{ $json.phoneNumber.replace(/\\D/g, '') }}",
            "reviewCount": "={{ $json.reviewCount }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewCount",
              "displayName": "reviewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent Status",
              "displayName": "Sent Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Status",
              "displayName": "Response Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        304
      ],
      "id": "8b144e37-27e2-4d45-9fef-293d16092792",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X1KQOqdaBi2DIrex",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email",
              "value": "={{ $('Append row in sheet').item.json.email }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "company_name",
              "value": "={{ $('Append row in sheet').item.json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "subject_line",
              "value": "={{ $('AI Email Personalizer').item.json.output.subject }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "sent_status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "response_status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "date_sent",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "notes",
              "value": "Automated outreach email sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "74fcce1b-f222-43e2-8e82-7fb62cb6683d",
      "name": "Prepare Tracking Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws",
          "mode": "list",
          "cachedResultName": "AI_RealEstate_Outreach_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 906961922,
          "mode": "list",
          "cachedResultName": "Outreach_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1px5iuKAzeZ4NJ-g7be8GDNEjEAprGQYlFK4la38zQws/edit#gid=906961922"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "company name": "={{ $json.company_name }}",
            "subject line": "={{ $json.subject_line }}",
            "sent status": "={{ $json.sent_status }}",
            "response status": "={{ $json.response_status }}",
            "date sent": "={{ $json.date_sent }}",
            "notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject line",
              "displayName": "subject line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent status",
              "displayName": "sent status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response status",
              "displayName": "response status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date sent",
              "displayName": "date sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        640
      ],
      "id": "2330292f-f4a6-45f2-8b79-0186aa3dc71c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X1KQOqdaBi2DIrex",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Lead Generation": {
      "main": [
        [
          {
            "node": "Scrape Real Estate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Real Estate Leads": {
      "main": [
        [
          {
            "node": "Wait for Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scraping": {
      "main": [
        [
          {
            "node": "Get Scraping Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraping Results": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Remove Duplicate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Leads": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Email Personalizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Email Personalizer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Email Personalizer": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Prepare Tracking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Email Personalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tracking Data": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "ca9fd547-d425-42dc-8fa8-cab039a09e18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804d5fdbe8adeb3a988f78533c52766994642d611decfbfbc706a6817f072ad2"
  },
  "id": "0tx5580Hrhnqwpmg",
  "tags": []
}